
<app-nav></app-nav>

<mat-card class="example-card">
    <div class='mat-header'>
    <mat-card-header>
      <img mat-card-avatar class='icon-profile' src="../assets/images/Maejoy.jpeg" alt="">
      <mat-card-title>Mae Joy Bollicer</mat-card-title>
      <mat-card-subtitle>BSIT-3B</mat-card-subtitle>
    </mat-card-header>
    <img class='profile' mat-card-image src="../assets/images/Maejoy.jpeg" alt="Photo of a Shiba Inu">
    </div>

    <div class='mat-body'>
    <mat-card-content>
      <div class='info'>
        <p>Email: maejoy.bollicer@evsu.edu.ph</p>
        <p>Address: Jaro, Leyte</p>
        <p>School: EVSU-CARIGARA CAMPUS</p>
        <p>AGE: 20 Yrs. old</p>
        <P>Hobbies: Playing Badminton,singing and watching</P>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    </div>
  </mat-card>