<app-nav></app-nav>

<div class='body-container'>
    <mat-card>
        <h3>Bollicer Contact Info</h3>
        <mat-list>
            <mat-list-item>
                <mat-icon>email</mat-icon>Email: <p>maejoy.bollicer@evsu.edu.ph</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>hub</mat-icon>Github: <p>https://github.com/maejoybollicer</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>facebook</mat-icon>Facebook: <p>https://web.facebook.com/maejoybollicer08</p>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>
